.bestdeal-img {
    width: 263px;
}

@media only screen and (max-width: 639px) {
    .bestdeal-img {
        width: 100%;
    }

    .bestdeal-btn {
        padding-left: 87px;
        padding-right: 87px;
    }
}